.main_vinos {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
    .main_vinos__titulo{
        color: $primary-color;
        font-family: $primary-font;
        font-size: 1.6em;
        font-weight: bold;
        text-align: center;
    }
    .main_vinos__descripcion{
        font-family: $primary-font;
        font-size: 1.2em;
        text-align: center;
        width: 90vw;
    }
    @include medium-screen{
        .main_vinos__titulo{
            font-size: 1.8em;
        }
        .main_vinos__descripcion{
            font-size: 1.2em;
        }
    }
    @include large-screen{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        justify-items: center;
        .main_vinos__titulo{
            grid-column: 1 / 5;
            text-transform: uppercase;
            font-size: 2em;
        }
        .main_vinos__descripcion{
            grid-column: 1 / 5;
            font-size: 1.6em;
        }
    }
}