.main_contacto {
    grid-area: main;
    .main_contacto__titulo{
        color: $primary-color;
        font-family: $primary-font;
        font-size: 1.6em;
        font-weight: bold;
        text-align: center;
        margin-top: 1em;
    }
    .main_contacto__contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include medium-screen{
        .main_contacto__titulo{
            font-size: 1.8em;
        }
    }
    @include large-screen{
        .main_contacto__titulo{
            text-transform: uppercase;
            font-size: 2em;
        }
        .main_contacto__contactos {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            justify-items: center;
        }
    }
}